<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        <table>
            <tr>
                <th colspan="3"><h2>Register</h2></th>
            </tr>
            <tr>
                <td>ID</td>
                <td><input type="text" name="userId"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="userEmail"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="userPassword"></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>

</html>